﻿@model Bowling.DAL.BowlingViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Program obliczający wyniki gry w kręgle</h2>
<div> Instrukcja:</div>
<ul>
    <li>Należy stworzyć nowy plik tekstowy z rozszerzeniem ".txt"</li>
    <li>
        W pliku tekstowym należy umieścić nazwę gracza oraz jego wyniki według poniższego wzoru
        <br />Nazwa gracza
        <br />1,2,5,3,1
    </li>
    <li>Po uzyskaniu strike kolejny rzut należy zaznaczyć "-"</li>
    <li>Należy wcisnąć przycisk "wybierz plik" i wybrać stworzony plik tekstowy, a następnie kliknąć przycisk wyślij</li>
    <li>Po kliknięciu na przycisk wyślij należy poczekać na wczytanie się tabeli z wynikami oraz sumą punktów zdobytych</li>
</ul>

@using (Html.BeginForm("Index", "Bowling", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <input type="file" id="UploadedFile" name="UploadedFile" accept=".txt" />
            @Html.ValidationMessage("ErrorMessage", new { @class="text-danger"})

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Wyślij" class="btn btn-default" />
        </div>
    </div>
}
    @if (Model.Players != null)
    {
        <table class="table-score">
            <tr>
                <th>Zawodnik</th>
                <th>Wynik</th>
                @for (int i = 0; i < ViewBag.MaxScoreCount; i++)
                {
                    <th class="score-cells">@(i + 1)</th>
                }
            </tr>
            @foreach (var player in Model.Players)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.TotalScore</td>
                    @for (int i = 0; i < player.Score.Length; i++)
                    {
                        if (i > 0)
                        {
                            //if previous score was strike, mark it with "-"
                            if (player.Score[i - 1] == 10)
                            {
                                <td class="score-cells">-</td>

                            }
                            else
                            {
                                <td class="score-cells">@player.Score[i]</td>

                            }
                        }
                        else
                        {
                        <td class="score-cells">@player.Score[i]</td>
                        }
                    }
                </tr>
            }
        </table>

    }
