﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table-score th, tr, td
{
    border: 1px solid blue;
    text-align:center;
    padding: 2px;
}

.table-score th{
    background-color:blue;
    color:white;
}

.score-cells
{
    width:40px;
    height:auto;
}